<div class="flex justify-center items-center h-screen">
  <form
    (ngSubmit)="onRegister()"
    [formGroup]="formGroup"
    class="flex flex-col"
  >
    <h1>Register</h1>
    <mat-form-field>
      <mat-label>Enter your name</mat-label>
      <input [formControlName]="'name'" matInput required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input [formControlName]="'username'" matInput required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        [formControlName]="'email'"
        matInput
        placeholder="pat@example.com"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your invite code</mat-label>
      <input [formControlName]="'inviteCode'" matInput/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        [formControlName]="'password'"
        [type]="hide ? 'password' : 'text'"
        matInput
      />
      <button
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        mat-icon-button
        matSuffix
        type="button"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input
        [formControlName]="'confirmPassword'"
        [type]="hide ? 'password' : 'text'"
        matInput
      />
      <button
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        mat-icon-button
        matSuffix
        type="button"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <button
      color="primary"
      mat-raised-button
      type="submit"
    >
      Sign Up
    </button>
    <a
      (click)="onRedirectToSignIn()"
      class="cursor-pointer mt-2 text-center hover:opacity-75"
    >Have an account?</a>
  </form>
</div>
