<div class="flex justify-center items-center h-screen">
  <form
    (ngSubmit)="onLogin()"
    [formGroup]="formGroup"
    class="flex flex-col"
  >
    <h1>Login</h1>
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input [formControlName]="'username'" matInput required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        [formControlName]="'password'"
        [type]="hide ? 'password' : 'text'"
        matInput
      />
      <button
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        mat-icon-button
        matSuffix
        type="button"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <button
      color="primary"
      mat-raised-button
      type="submit"
    >
      Sign In
    </button>
    <a
      (click)="onRedirectToSignUp()"
      class="cursor-pointer mt-2 text-center hover:opacity-75"
    >Don't have an account?</a
    >
  </form>
</div>
